In [7]:
import numpy as np

In [26]:
def generate_lr_list(start:float, stop:float, iterations:int, step:int)->list():
    generated_lr = []
    num_integer, num_remainder = iterations//step, iterations%step

    for i in np.linspace(start, stop, num_integer+(1 if num_remainder>0 else 0)): 
        for j in range(step):
            if (len(generated_lr) == iterations): 
                return generated_lr
            generated_lr.append(i)
    return generated_lr

In [27]:
generate_lr_list(1, 0.1, 10, 3)

[1.0, 1.0, 1.0, 0.7, 0.7, 0.7, 0.4, 0.4, 0.4, 0.1]

In [28]:
import pandas as pd

In [29]:
data = pd.read_csv('https://raw.githubusercontent.com/a-milenkin/Competitive_Data_Science/main/data/car_train.csv')

In [30]:
data

,car_id,model,car_type,fuel_type,car_rating,year_to_start,riders,year_to_work,target_reg,target_class
0,y13744087j,Kia Rio X-line,economy,petrol,3.78,2015,76163,2021,108.53,another_bug
1,O41613818T,VW Polo VI,economy,petrol,3.90,2015,78218,2021,35.20,electro_bug
2,d-2109686j,Renault Sandero,standart,petrol,6.30,2012,23340,2017,38.62,gear_stick
3,u29695600e,Mercedes-Benz GLC,business,petrol,4.04,2011,1263,2020,30.34,engine_fuel
4,N-8915870N,Renault Sandero,standart,petrol,4.70,2012,26428,2017,30.45,engine_fuel
...,...,...,...,...,...,...,...,...,...,...
2332,j21246192N,Smart ForFour,economy,petrol,4.38,2017,121239,2018,25.48,wheel_shake
2333,h-1554287F,Audi A4,premium,petrol,4.30,2016,107793,2020,69.26,engine_check
2334,A15262612g,Kia Rio,economy,petrol,3.88,2015,80234,2019,46.03,gear_stick
2335,W-2514493U,Renault Sandero,standart,petrol,4.50,2014,60048,2020,77.19,another_bug
2336,z-1337463D,VW Polo,economy,petrol,3.94,2015,92312,2016,54.68,engine_check

In [31]:
t = data['target_reg']

In [32]:
t

0       108.53
1        35.20
2        38.62
3        30.34
4        30.45
         ...
2332     25.48
2333     69.26
2334     46.03
2335     77.19
2336     54.68
Name: target_reg, Length: 2337, dtype: float64

In [33]:
from scipy import special

In [34]:
def custom_l2_loss(y, data):
    t = data.get_label()
    p = special.expit(y)
    grad = p - y
    hess = p * (1 - p)
    return grad, hess

In [ ]:
np.log1p(column)

In [36]:
def custom_rmsle_eval(predictions, dmat):
    labels = dmat.get_label()
    n = len(labels)
    log_sum = 0
    for i in range(n):
        log_sum = log_sum + (np.log1p(predictions) - np.log1p(labels))**2
    
    rmsle = (log_sum/n)**0.5
    return 'RMSLE', rmsle

L'(y, p) = sinh(p - y) / cosh(p - y) = tanh(p - y)

L''(y, p) = 1 - tanh^2(p - y) = 1/cosh^2(p - y)