In [39]:
import pandas as pd

df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_12.csv')

# В ans содержится правильный ответ. Перед отправкой своего решения, сравнитесь с ним.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_12_ans.csv')

In [40]:
df

,Unnamed: 0,car_id,model,car_type,fuel_type,car_rating,year_to_start,riders,year_to_work,target_reg,target_class
0,0,o-1588203t,VW Polo VI,economy,petrol,4.04,2014,61872,2015,46.175419,engine_check
1,1,B-1760099A,Renault Kaptur,standart,petrol,4.36,2015,95768,2020,30.585652,engine_overheat
2,2,u-2045579o,Renault Kaptur,standart,petrol,5.94,2012,21114,2020,68.091881,engine_ignition
3,3,V-4730687q,VW Tiguan,economy,petrol,4.10,2016,95799,2018,39.808397,break_bug
4,4,K23027223e,Smart ForTwo,economy,petrol,3.82,2017,127971,2022,37.024779,electro_bug
...,...,...,...,...,...,...,...,...,...,...,...
95,95,i22101695X,Fiat 500,business,petrol,5.16,2015,80937,2022,54.714139,engine_check
96,96,a22370652k,Kia Rio,economy,petrol,4.56,2013,46108,2021,31.320599,break_bug
97,97,H-1952766q,Tesla Model 3,premium,electro,4.92,2014,58631,2019,50.306346,gear_stick
98,98,r13675823Y,VW Polo VI,economy,petrol,4.36,2015,84108,2018,34.150655,engine_fuel
99,99,I-1117298r,VW Tiguan,economy,petrol,4.54,2015,82807,2019,111.275852,another_bug

In [41]:
mean_rating = df.car_rating.mean()

In [42]:
mean_rating

4.434200000000001

In [43]:
df.car_rating += 1

In [44]:
df.year_to_work += 1

In [45]:
df = df[df.car_rating > mean_rating]

/var/folders/_p/4hq1c0jd5sx1r6kpx11fy4ph0000gn/T/ipykernel_11845/789514823.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year_to_work'] = df['year_to_work'].apply(lambda x: x+2 if x<2017 else x//5)

In [47]:
df

,Unnamed: 0,car_id,model,car_type,fuel_type,car_rating,year_to_start,riders,year_to_work,target_reg,target_class
0,0,o-1588203t,VW Polo VI,economy,petrol,5.04,2014,61872,2016,46.175419,engine_check
1,1,B-1760099A,Renault Kaptur,standart,petrol,5.36,2015,95768,2021,30.585652,engine_overheat
2,2,u-2045579o,Renault Kaptur,standart,petrol,6.94,2012,21114,2021,68.091881,engine_ignition
3,3,V-4730687q,VW Tiguan,economy,petrol,5.10,2016,95799,2019,39.808397,break_bug
4,4,K23027223e,Smart ForTwo,economy,petrol,4.82,2017,127971,2023,37.024779,electro_bug
...,...,...,...,...,...,...,...,...,...,...,...
95,95,i22101695X,Fiat 500,business,petrol,6.16,2015,80937,2023,54.714139,engine_check
96,96,a22370652k,Kia Rio,economy,petrol,5.56,2013,46108,2022,31.320599,break_bug
97,97,H-1952766q,Tesla Model 3,premium,electro,5.92,2014,58631,2020,50.306346,gear_stick
98,98,r13675823Y,VW Polo VI,economy,petrol,5.36,2015,84108,2019,34.150655,engine_fuel
99,99,I-1117298r,VW Tiguan,economy,petrol,5.54,2015,82807,2020,111.275852,another_bug

In [48]:
df['year_to_work'] = df['year_to_work'].apply(lambda x: x+2 if x<2017 else x//5)

/var/folders/_p/4hq1c0jd5sx1r6kpx11fy4ph0000gn/T/ipykernel_11845/789514823.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year_to_work'] = df['year_to_work'].apply(lambda x: x+2 if x<2017 else x//5)

In [50]:
df.rename(columns={'year_to_start':'new_year_to_start'}, inplace=True)

/var/folders/_p/4hq1c0jd5sx1r6kpx11fy4ph0000gn/T/ipykernel_11845/1995283754.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'year_to_start':'new_year_to_start'}, inplace=True)

In [53]:
df.drop('fuel_type', axis=1, inplace=True)

/var/folders/_p/4hq1c0jd5sx1r6kpx11fy4ph0000gn/T/ipykernel_11845/1806247900.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('fuel_type', axis=1, inplace=True)

In [55]:
df['car_type']  = df['car_type'].apply(lambda x: 'super_' + x)

/var/folders/_p/4hq1c0jd5sx1r6kpx11fy4ph0000gn/T/ipykernel_11845/1911192313.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['car_type']  = df['car_type'].apply(lambda x: 'super_' + x)

In [56]:
df

,Unnamed: 0,car_id,model,car_type,car_rating,new_year_to_start,riders,year_to_work,target_reg,target_class
0,0,o-1588203t,VW Polo VI,super_economy,5.04,2014,61872,2018,46.175419,engine_check
1,1,B-1760099A,Renault Kaptur,super_standart,5.36,2015,95768,404,30.585652,engine_overheat
2,2,u-2045579o,Renault Kaptur,super_standart,6.94,2012,21114,404,68.091881,engine_ignition
3,3,V-4730687q,VW Tiguan,super_economy,5.10,2016,95799,403,39.808397,break_bug
4,4,K23027223e,Smart ForTwo,super_economy,4.82,2017,127971,404,37.024779,electro_bug
...,...,...,...,...,...,...,...,...,...,...
95,95,i22101695X,Fiat 500,super_business,6.16,2015,80937,404,54.714139,engine_check
96,96,a22370652k,Kia Rio,super_economy,5.56,2013,46108,404,31.320599,break_bug
97,97,H-1952766q,Tesla Model 3,super_premium,5.92,2014,58631,404,50.306346,gear_stick
98,98,r13675823Y,VW Polo VI,super_economy,5.36,2015,84108,403,34.150655,engine_fuel
99,99,I-1117298r,VW Tiguan,super_economy,5.54,2015,82807,404,111.275852,another_bug

In [57]:
ans

,Unnamed: 0,car_id,model,car_type,car_rating,new_year_to_start,riders,year_to_work,target_reg,target_class
0,0,o-1588203t,VW Polo VI,super_economy,5.04,2014,61872,2018,46.175419,engine_check
1,1,B-1760099A,Renault Kaptur,super_standart,5.36,2015,95768,404,30.585652,engine_overheat
2,2,u-2045579o,Renault Kaptur,super_standart,6.94,2012,21114,404,68.091881,engine_ignition
3,3,V-4730687q,VW Tiguan,super_economy,5.10,2016,95799,403,39.808397,break_bug
4,4,K23027223e,Smart ForTwo,super_economy,4.82,2017,127971,404,37.024779,electro_bug
...,...,...,...,...,...,...,...,...,...,...
85,95,i22101695X,Fiat 500,super_business,6.16,2015,80937,404,54.714139,engine_check
86,96,a22370652k,Kia Rio,super_economy,5.56,2013,46108,404,31.320599,break_bug
87,97,H-1952766q,Tesla Model 3,super_premium,5.92,2014,58631,404,50.306346,gear_stick
88,98,r13675823Y,VW Polo VI,super_economy,5.36,2015,84108,403,34.150655,engine_fuel
89,99,I-1117298r,VW Tiguan,super_economy,5.54,2015,82807,404,111.275852,another_bug