In [1]:
import pandas as pd

df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2.2.11.csv')

# Учтите, что sort_by_list, cols2drop, columns_order_list в тестовой системе будут иметь другие значения.
sort_by_list = ['car_rating', 'riders']
cols2drop = ['random_name_1', 'target_reg', 'target_class', 'random_name_2']
columns_order_list = ['model', 'car_type', 'car_id', 'car_rating', 'year_to_start', 'year_to_work', 'riders', 'fuel_type']
critical_car_rating = 2

# В ans содержится правильный ответ. Перед отправкой своего решения, сравнитесь с ним.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_11_ans.csv', index_col=0)

In [2]:
df

,car_id,model,car_type,fuel_type,car_rating,year_to_start,riders,year_to_work,target_reg,target_class
0,s-9164758n,Renault Kaptur,standart,petrol,3.76,2012,31867,2018,35.622685,engine_overheat
1,I-7194770x,Smart ForTwo,economy,petrol,4.08,2014,55325,2015,30.378960,electro_bug
2,k63904133P,Smart ForFour,economy,petrol,4.54,2015,76585,2018,64.757579,another_bug
3,H-4546747T,Kia Rio X,economy,petrol,4.68,2015,73109,2017,47.623089,engine_check
4,i-4390733F,Mini Cooper,business,petrol,4.96,2012,1007,2018,81.469055,engine_check
...,...,...,...,...,...,...,...,...,...,...
295,b34607341j,Mini Cooper,business,petrol,4.04,2011,2740,2018,74.385234,engine_check
296,m21172670I,VW Polo,economy,petrol,4.32,2012,23824,2021,29.409693,gear_stick
297,R15925847J,VW Polo VI,economy,petrol,4.00,2014,58472,2019,33.686305,break_bug
298,c-7401486X,Renault Sandero,standart,petrol,4.62,2014,66362,2017,45.349326,gear_stick
299,f17350995b,VW Polo VI,economy,petrol,4.00,2015,78534,2020,64.119233,engine_ignition

In [3]:
df.sort_values(by=sort_by_list, ascending=[False, True], inplace=True)

In [4]:
cols2drop

['random_name_1', 'target_reg', 'target_class', 'random_name_2']

In [5]:
df.columns.tolist()

['car_id',
 'model',
 'car_type',
 'fuel_type',
 'car_rating',
 'year_to_start',
 'riders',
 'year_to_work',
 'target_reg',
 'target_class']

In [6]:
colsToDrop = list(set(cols2drop) & set(df.columns.tolist()))

In [7]:
colsToDrop

['target_class', 'target_reg']

In [8]:
df.drop(colsToDrop, axis=1, inplace=True)

In [9]:
df = df.reindex(columns=columns_order_list)

In [10]:
df[df.car_rating<critical_car_rating].index

Index([267], dtype='int64')

In [11]:
df.drop(df[df.car_rating<critical_car_rating].index, axis=0, inplace=True)

In [12]:
mask1 = df.riders > 10000

In [13]:
mask2 = df.car_type.isin(['standart', 'economy'])

In [14]:
indexes2Drop = df[(mask1) | (mask2)].index

In [15]:
indexes2Drop

Index([ 40,   9,  11,   5, 183,  25, 191,  63,  41,  17,
       ...
       123, 200,  89, 176, 163, 249, 117,  47, 271, 131],
      dtype='int64', length=297)

In [16]:
df.drop(indexes2Drop, axis=0, inplace=True)

In [17]:
df

,model,car_type,car_id,car_rating,year_to_start,year_to_work,riders,fuel_type
4,Mini Cooper,business,i-4390733F,4.96,2012,2018,1007,petrol
295,Mini Cooper,business,b34607341j,4.04,2011,2018,2740,petrol

In [18]:
ans

,model,car_type,car_id,car_rating,year_to_start,year_to_work,riders,fuel_type
4,Mini Cooper,business,i-4390733F,4.96,2012,2018,1007,petrol
295,Mini Cooper,business,b34607341j,4.04,2011,2018,2740,petrol