In [10]:
import pandas as pd

rides = pd.read_csv('https://stepik.org/media/attachments/lesson/779916/3_1_4_rides.csv')
cars = pd.read_csv('https://stepik.org/media/attachments/lesson/779916/3_1_4_cars.csv')

# В переменную ans записан правильный ответ, с которым можно сверить свое решение.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/779916/3_1_4_ans.csv')

In [11]:
rides

        car_id ride_id  rating  ride_duration  ride_cost
0   b14467388K     Z1C    5.03             22        237
1   d-1627526q     a1x    1.14            131       1567
2   S16201816J     x1Q    6.19            115       1833
3   t-8201245H     v1m    8.49             36        319
4   e63361984l     k1a    5.19             47        370
5   N-2930071J     Q1e    2.51             15        237
6   C-8802779C     e1N    4.53           1064      15825
7   L-1156474z     u1g    5.81             33        391
8   a-7125351Z     B1a    1.53             13        125
9   b28091206k     t1b    5.59             38        412
10  t-1505206e     F1H    6.26             39        502
11  M13526722v     d1a    7.28             16        795
12  E-3042252G     q1h    5.65             57        507
13  J-1782910O     v1V    2.54            481       5765
14  W-2514493U     C1P    7.88             13        200
15  G-3730407g     v1e    2.45           7749     100732
16  X-1102199i     h1n    0.10          31204     374442
17  M20797256F     e1V    5.01             56        667
18  E16896376o     B1Q    4.88             26        228
19  U52942046Z     I1p    9.88             37        364
20  Y28100048o     K1V    3.96             49        973
21  X10754765V     M1i    1.62             29        312
22  m20203244V     F1b    0.10             31        428
23  I-9571675o     C1f    9.64             66       1051
24  k72805610d     I1A    6.31          18259     182586
25  A11461567u     e1i    9.14             37        513
26  w-7960339R     z1K    8.28             34        539
27  G62487539y     w1R    5.68             21        162
28  E16896376o     V1L    6.98             37        512
29  m-2086369j     W1j    2.55             46        409
30  L96875350x     X1B    4.52             45        490
31  Z13161380J     V1h    5.59             29        402
32  s12154911r     N1w    7.31             40        514
33  b15256546L     C1N    2.16             79       1259
34  v-1523714V     u1r    4.61             12        102
35  h-2930740k     v1b    6.85             42        625
36  M-2277769E     B1N    4.10             11         82
37  Z-2128377r     L1z    5.05             95       1037
38  s-1723833v     I1q    3.94             63        813
39  I-2222955D     A1p    2.64            247       1970
40  L-1459492G     h1R    5.53            353       2820
41  u-1069219e     T1g    1.71           8613      64076
42  d-1391916M     M1M    3.29             32        250
43  L-1459492G     k1h    3.85             43        681
44  S56454866u     i1w    3.70             19        223
45  r67742622z     G1J    6.63             57        621
46  e-2141689x     D1t    4.12             50        693
47  n55774167X     W1W    3.68             45        716
48  x39431048L     u1u    4.30             40        634
49  x-5093569t     X1W    6.83            502       8028

In [12]:
cars

       car_id            model  riders     target_class
0  s-1723833v         BMW 320i   58695     engine_check
1  E16896376o       VW Polo VI   89960  engine_overheat
2  X10754765V        VW Tiguan  125986      electro_bug
3  a-4209036O  Renault Sandero   83147      engine_fuel
4  D-1246382Y        Kia Rio X   60134        break_bug
5  M20797256F  Renault Sandero   65913  engine_overheat
6  L-1156474z    Tesla Model 3   39718        break_bug

In [13]:
rides_cars = rides.merge(cars, on = 'car_id', how = 'left')

In [18]:
rides_cars.drop(['model', 'riders'], axis=1, inplace=True)

In [27]:
result = rides_cars.dropna(subset=['target_class'], inplace=True)

In [24]:
ans

       car_id ride_id  rating  ride_duration  ride_cost     target_class
0  L-1156474z     u1g    5.81             33        391        break_bug
1  M20797256F     e1V    5.01             56        667  engine_overheat
2  E16896376o     B1Q    4.88             26        228  engine_overheat
3  X10754765V     M1i    1.62             29        312      electro_bug
4  E16896376o     V1L    6.98             37        512  engine_overheat
5  s-1723833v     I1q    3.94             63        813     engine_check

In [28]:
result