In [1]:
import pandas as pd

df1 = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2.2.6_df1.csv', index_col=0)
df2 = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2.2.6_df2.csv', index_col=0)

# Учтите, что user_white_list и car_black_list в тестовой системе будут иметь другую длину и другие значения
user_white_list = ['g10995906g', 'H90312511Q', 'C27138482L', 'H22518078t', 'n17438464n', 'F10525768e', 's15596151o', 'i18954748S', 'E84048392U', 'E69893354s']
car_black_list = ['l-4285389z', 'n79502261g', 'N-1839822D']

# В ans содержится правильный ответ. Перед отправкой своего решения, сравнитесь с ним.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_6_ans.csv', index_col=0)

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [155]:
df1.head()
df1.size

720

In [156]:
df2.head()
df2.size

480

In [157]:
df3 = pd.concat([df1, df2])

In [158]:
df3.head()
df3.size

1200

In [159]:
mask1 = df3.stop_times.isin([2,3,5])
mask2 = df3.rating > 4
df3 = df3[mask1 & mask2]

In [160]:
df3.head()
df3.size

156

In [161]:
car_black_list

['l-4285389z', 'n79502261g', 'N-1839822D']

In [162]:
user_white_list

['g10995906g',
 'H90312511Q',
 'C27138482L',
 'H22518078t',
 'n17438464n',
 'F10525768e',
 's15596151o',
 'i18954748S',
 'E84048392U',
 'E69893354s']

In [163]:
mask3 = df3.user_id.isin(user_white_list)
mask4 = df3.car_id.isin(car_black_list)

In [164]:
df3 = df3[mask3]

In [165]:
df3.size

16

In [166]:
df3 = df3[~mask4]

/var/folders/_p/4hq1c0jd5sx1r6kpx11fy4ph0000gn/T/ipykernel_9273/3838806687.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df3 = df3[~mask4]

In [167]:
df3.size

16

In [168]:
df3.shape

(4, 4)

In [169]:
df3

        user_id      car_id  rating  stop_times
20   C27138482L  M-1786506l    7.42           2
43   H22518078t  H72631192M    5.47           2
190  F10525768e  I98930031r    4.21           2
248  s15596151o  u-2070489i    5.39           2

In [180]:
mask5 = (df3.index%2 == 0)

In [182]:
df3 = df3[mask5].head()

In [183]:
df3

        user_id      car_id  rating  stop_times
20   C27138482L  M-1786506l    7.42           2
190  F10525768e  I98930031r    4.21           2
248  s15596151o  u-2070489i    5.39           2

In [184]:
result = df3

In [185]:
ans

        user_id      car_id  rating  stop_times
20   C27138482L  M-1786506l    7.42           2
190  F10525768e  I98930031r    4.21           2
248  s15596151o  u-2070489i    5.39           2

In [191]:
df4 = pd.read_csv('https://raw.githubusercontent.com/a-milenkin/Competitive_Data_Science/main/data/driver_info.csv',
                  )

In [192]:
df4

,age,user_rating,user_rides,user_time_accident,user_id,sex,first_ride_date
0,27,9.0,865,19.0,l17437965W,1,2019-4-2
1,46,7.9,2116,11.0,Z12362316j,0,2021-11-19
2,59,7.8,947,4.0,g11098715c,0,2021-1-15
3,37,7.0,18,4.0,U12618125q,0,2019-11-20
4,39,8.2,428,7.0,A14375829B,0,2019-7-23
...,...,...,...,...,...,...,...
15148,19,7.9,52,12.0,R13807707w,1,2019-12-1
15149,40,7.6,1142,3.0,F86199947G,0,2019-1-18
15150,27,7.9,1280,3.0,O10119419p,1,2018-9-16
15151,30,7.9,31,5.0,B35483077Y,0,2019-11-23
15152,18,7.8,83,0.0,S19178709w,1,2019-10-23

In [195]:
mask6 = df4.age<40

In [198]:
mask7 = (df4.user_time_accident > 4.5) & (df4.user_time_accident <= 9)

In [199]:
df4 = df4[mask6 & mask7]

In [201]:
df4.shape

(2478, 7)

In [202]:
import pandas as pd

df5 = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_8.csv')

# В ans содержится правильный ответ. Перед отправкой своего решения, сравнитесь с ним.
ans2 = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_8_ans.csv', index_col=0)

In [203]:
df5

       user_id  user_rating  age  user_rides  user_time_accident
0   f59331553m          7.7   29          99                 4.0
1   H50364497o          7.8   26         121                 0.0
2   A14869258v          7.3   34         557                 2.0
3   E10711310m          8.4   33         322                39.0
4   i54390205y          8.7   18          59                22.0
..         ...          ...  ...         ...                 ...
95  f43739690G          8.0   25         357                10.0
96  h51181620d          7.2   22        1421                13.0
97  l15352881X          8.0   25           2                14.0
98  k83620654u          8.5   27         156                 5.0
99  u47521230x          8.9   18         951                 8.0

[100 rows x 5 columns]

In [ ]:
df5['']